*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    background-color: #24252a;
    color: #edf0f1;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    background-color: #24252a;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 15px;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 10px;
}
.score{
    font-size: 2.5rem;
}
#user,#comp{
    font-size: 4rem;
}
.msg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#msg{
    background-color: #24252a;
    font-size: 2rem;
    color: #edf0f1;
    padding: 15px;
    border-radius: 15px;
}
.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#reset{
    border: none;
    border-radius: 50px;
    background-color: #24252a;
    padding: 15px 26px;
    color: #edf0f1;
    cursor: pointer;
    transition: .3s;
}
#reset:hover{
    transition: .3s;
    transform: scale(1.2);
}
